<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    <supportedRuntime version="v2.0.50727"/>
		</startup>
	<appSettings>
		<add key="connectionString" value="Data Source=METARG0;User ID=SSPGMWEB01;Password=xxxxx;LibraryList=,GX,*USRLIBL;Naming=System;Default Collection=DCZDAT;"/>
	</appSettings>
</configuration>
